.song-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    border: 1px solid grey;
    margin: 10px;
    line-height: 1.5;
    height: 80px;
}

.bold {
    font-weight: 400;
    margin: 15px;
    word-wrap: normal;
}

.light {
    font-weight: 300;
}