.btn {
    margin: 10px;
}

.link {
    text-decoration: none;
    color: black;
}

.bold {
    font-weight: 400;
    margin: 15px;
}

.create-playlist{
    width: 150px;
    height: 40px;
    margin: 20px;
}

.playlists {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-between;
    border: 1px solid grey;
    margin: 10px;
    line-height: 1.5;
    height: 80px;
    background-color: coral;
    box-shadow: 5px 5px 5px #aaaaaa;
}
